
.App {
    color: #000;
    display: table;
    margin: 10% auto 0;
    width: 100%;
    max-width: 300px;
    text-align: left;
    
}

.link{
    color: #FFF;
    text-decoration: none;
}

.content {
    border-bottom: 4px solid  rgb(28, 28, 28);
    border-left: 4px solid  rgb(28, 28, 28);
    border-right:4x solid  rgb(28, 28, 28);
    padding: 15px;
    background-color: rgb(28, 28, 28);
    color: white;
}

.green {
    font-weight: bold;
    color: green;
    transition: all 1s;
    transition: transform 1s ease-in-out;
    transform: translateX(40px);
    
}

.Submit {
    background-color: #204ba7;
    color: white;
    padding: 10px;
}

.Submit:disabled{
    cursor: not-allowed;
    background-color: gray;
}